
.color-block {
  padding: 8px;
  border: 1px solid #E8E9EB;
  background-color: #000000;
}

.color-block__buffer {
  border: 1px solid #E8E9EB;
  padding: 16px 24px;
}

.color-block__label {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}

.color-block__hex {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}