<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="/css/container.css">
  <link rel="stylesheet" href="/css/responsive-blocks.css">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/css/buffer.css">
  <link rel="stylesheet" href="/css/spacers.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/ui-kit.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/style.css">

  {% include "partials/fonts.njk" %}

  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];

      if(html) {
        html.className +=html.className ? " js" : "js";
      }

      if (typeof SSVGRect !== "undefined") {
        html.className +=html.className ? " svg" : "svg";
        window.svg = true;
      }
    })();
  </script>
</head>
<body class="systems">
    {% include "partials/header.njk" %}

    <div class="bg-container">
        <main>
          {% max_width %}
            <div class="responsive-blocks-container">
              {% responsive_block "100_100_25_25_25" %}
              {% end_responsive_block %}
              {% responsive_block "100_100_75_75_75" %}
                  <div class="systems__bg">
                  </div>
              {% end_responsive_block %}
            </div>
          {% end_max_width %}
          {% max_width %}
            <div class="menu-fix">
              <div class="responsive-blocks-container">
                {% responsive_block "100_100_25_25_25" %}
                  <div class="header__main-menu-container" id="main-menu-container">
                    {% include 'partials/menu.njk' %}
                  </div>
                {% end_responsive_block %}
                {% responsive_block "100_100_75_75_75" %}
                  <div class="responsive-blocks-container">
                    {% responsive_block "10_5_0_0_0" %}
                    {% end_responsive_block %}

                    {% responsive_block "80_70_45_45_45" %}
                      <div class="systems__spacer-top"></div>
                      <h1 class="big-title"><b>Authentic Systems</b></h1>
                      <div class="system__content-spacer-1"></div>
                      <div class="buffer">
                        <a href="/" class="back-link">Back</a>
                      </div>
                      <div class="system__content-spacer-2"></div>
                    {% end_responsive_block %}

                    {% responsive_block "10_25_55_55_55" %}
                    {% end_responsive_block %}
                  </div>
                  <div class="responsive-blocks-container">

                    {% responsive_block "0_5_0_0_0" %}
                    {% end_responsive_block %}

                    {% responsive_block "100_95_100_100_100" %}

                      <div class="systems__content-block">
                        <picture>
                          <source media="(min-width: 1024px)" type="image/webp" srcset="/img/desktop.webp">
                          <source media="(min-width: 1024px)" type="image/png" srcset="/img/desktop.png">
                          <source media="(min-width: 375px)" type="image/webp" srcset="/img/tablet.webp">
                          <source media="(min-width: 375px)" type="image/png" srcset="/img/tablet.png">
                          <source type="image/webp" srcset="/img/phone.webp">
                          <source type="image/png" srcset="/img/phone.png">
                          <img src="/img/phone.png" 
                          alt="Authentic interactions
                              A point in time event triggered by an Actor and received by another Actor, digitally signed by the former.

                              Authentic data flows
                              A service that provides its features in authentic way.

                              Authentic provenance logs
                              A list of digital authentic interactions, where any former interaction is a foundation for any latter interaction.

                              Authentic system
                              A logically built composition of previously defined elements that interact to constitute an authentic unified whole." 
                          width="1400" height="1648">
                        </picture>
                      </div>

                    {% end_responsive_block %}
                  </div>
                  <div class="system__spacer-bottom"></div>

                {% end_responsive_block %}
              </div>
            </div>
          {% end_max_width %}
        </main>
    </div>
  <script src="/js/utils.js"></script>
  <script src="/js/menu.js"></script>
</body>
</html>