<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="/css/container.css">
  <link rel="stylesheet" href="/css/responsive-blocks.css">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/css/buffer.css">
  <link rel="stylesheet" href="/css/spacers.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/ui-kit.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  {% include "partials/fonts.njk" %}

  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];

      if(html) {
        html.className +=html.className ? " js" : "js";
      }

      if (typeof SSVGRect !== "undefined") {
        html.className +=html.className ? " svg" : "svg";
        window.svg = true;
      }
    })();
  </script>
</head>
<body>
  
  <div class="bg-container">
  {% include "partials/header.njk" %}
  <div class="header__spacer"></div>
  <div class="main">
    <main>
      <div class="menu-fix">
        <section>
          <div class="hero">
            {% max_width %}
            <div class="hero__spacer-top"></div>
            <div class="responsive-blocks-container">
              {% responsive_block "10_25_25_25_25" %}
                <div class="header__main-menu-container" id="main-menu-container">
                  {% include 'partials/menu.njk' %}
                </div>
              {% end_responsive_block %}
              {% responsive_block "90_75_75_75_75" %}
                <h1>
                  Digital<br>
                  interactions<br>
                  made in<br>
                  <b>authentic way.</b>
                </h1>
              {% end_responsive_block %}
            </div>
            <div class="hero__spacer-bottom"></div>
          {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="our-story" id="about">
            {% max_width %}
            <div class="our-story__spacer-top"></div>
            <div class="responsive-blocks-container">
              {% responsive_block "10_20_40_40_40" %}
              {% end_responsive_block %}
              {% responsive_block "70_80_60_60_60" %}
                <h2 class="visually-hidden">About us</h2>
                <p class="p-big">
                  We are a small team with big ambition. We want to have a real influence on the technology, hence we experiment, we invent and we create. For a better tomorrow.
                </p>
                <div class="spacer-30"></div>
                <p class="p-small">
                  Individuals establish trust by interactions in real life. We establish digital trust upon the authentic digital interaction, which are the foundation for Authentic System. We build solutions to support Authentic Systems by providing services and consultancy as well as connections to other communities.
                </p>
                <div class="our-story__spacer-between"></div>
                {% buffer %}
                <a class="arrow-link responsive-blocks-container" href="/our-story/">
                  <span class="d-inline-block float-left">Our story</span>
                  <span aria-hidden="true" role="presentation" class="float-left">
                    {% pictureSvgPng "img/arrow.svg", "", "191", "24" %}
                  </span>
                </a>
                {% end_buffer %}
              {% end_responsive_block %}
            </div>
            <div class="our-story__spacer-bottom"></div>
            {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="our-philosophy">
          {% max_width %}
            <div class="our-philosophy__spacer-top"></div>
            <div class="responsive-blocks-container">
              {% responsive_block "20_20_25_25_25" %}
              {% end_responsive_block %}
              {% responsive_block "55_80_75_55_55" %}
                <h2 class="visually-hidden">Our philosophy</h2>
                <div class="responsive-blocks-container">
                  {% responsive_block "100_85_45_45_45" %}
                    {% card "img/icons/002.png", "", "Cryptographic agility", "Any software component self-evolves over time as the cryptographic algorithms evolve" %}
                  {% end_responsive_block %}
                  {% responsive_block "100_15_10_10_10" %}
                  {% end_responsive_block %}
                  {% responsive_block "100_85_45_45_45" %}
                    {% card "img/icons/011.png", "", "Unix philisophy", "Any software component does one thing and does it right" %}
                  {% end_responsive_block %}
                  {% responsive_block "100_85_45_45_45" %}
                    {% card "img/icons/010.png", "", "Authenticity over privacy", "Perfectly established private data cannot be trusted if it is not authentic" %}
                  {% end_responsive_block %}
                  {% responsive_block "100_15_10_10_10" %}
                  {% end_responsive_block %}
                  {% responsive_block "100_85_45_45_45" %}
                    {% card "img/icons/012.png", "", "End-verifiability", "Provenance of any data can be verified by performing cryptographic verification" %}
                  {% end_responsive_block %}
                  {% responsive_block "100_15_10_10_10" %}
                  {% end_responsive_block %}
                </div>
                <div class="our-philosophy__spacer-bottom"></div>
              {% end_responsive_block %}
              {% responsive_block "25_100_0_20_20" %}
              {% end_responsive_block %}
            </div>
            {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="our-domain" id="domain">
            {% max_width %}
              <div class="responsive-blocks-container">
                {% responsive_block "10_20_25_25_25" %}
                {% end_responsive_block %}
                {% responsive_block "70_60_55_55_55" %}
                  <h2 class="subtitle">
                    Domain
                  </h2>
                  <p class="h2">
                    We specialize in building<br>
                    <strong>Authentic Systems</strong>
                  </p>
                  <div class="spacer-60"></div>
                  <a href="/authentic-systems/" class="d-inline-block">
                    <span>Read more about</span>
                    <span class="arrow-link arrow-link-type2 responsive-blocks-container">
                      <span class="d-inline-block float-left">Authentic Data</span>
                      <span aria-hidden="true" role="presentation" class="float-left">
                        {% pictureSvgPng "img/arrow.svg", "", "191", "24" %}
                      </span>
                    </span>               
                  </a>
                {% end_responsive_block %}
                {% responsive_block "25_20_20_20_20" %}
                {% end_responsive_block %}
              </div>
              <div class="our-domain__spacer-bottom"></div>
            {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="our-technology" id="tecnology">
            {% max_width %}
              <div class="our-technology__spacer-top"></div>
              <div class="responsive-blocks-container">
                {% responsive_block "10_20_25_25_25" %}
                {% end_responsive_block %}
                {% responsive_block "70_80_55_55_55" %}                
                  <h2>Our technology</h2>
                  <div class="spacer-100"></div>
                  <div class="responsive-blocks-container">
                    {% responsive_block "100_85_45_45_45" %}
                    {% tecnologyCard "img/icons/009.png", "", "Cryptographic primitives", "Asymmetric and symmetric keys along with one way hash functions constitute the foundation for any other technology from our tool set." %}
                    {% end_responsive_block %}
                    {% responsive_block "100_15_10_10_10" %}
                    {% end_responsive_block %}
                    {% responsive_block "100_85_45_45_45" %}
                    {% tecnologyCard "img/icons/007.png", "", "Cryptographic primitives", "Asymmetric and symmetric keys along with one way hash functions constitute the foundation for any other technology from our tool set." %}
                    {% end_responsive_block %}
                    {% responsive_block "100_85_45_45_45" %}
                    {% tecnologyCard "img/icons/003.png", "", "KERI", "General purpose non blockchain ambient infrastructure that preserves same characteristics, but without the need of total ordered global consistent ledger." %}
                    {% end_responsive_block %}
                    {% responsive_block "100_15_10_10_10" %}
                    {% end_responsive_block %}
                    {% responsive_block "100_85_45_45_45" %}
                    {% tecnologyCard "img/icons/001.png", "", "OCA", "Defining domain boundaries within one system is not an easy task. A cross system boundaries are almost impossible to establish. OCA aims to provide such harmonization on a data level." %}
                    {% end_responsive_block %}
                    {% responsive_block "100_85_45_45_45" %}
                    {% tecnologyCard "img/icons/005.png", "", "Provenance logs", "A specialized type of Event Sourcing where any event in the log is digitally signed by the one who triggered that event. The whole chain of events is cryptographically bound." %}
                    {% end_responsive_block %}
                    {% responsive_block "100_15_10_10_10" %}
                    {% end_responsive_block %}
                    {% responsive_block "100_85_45_45_45" %}
                    {% tecnologyCard "img/icons/008.png", "", "ACDC", "Authentic Chained Data Containers provide a unified platform for data in a very similar fashion that the supply chain containers are used to tnasport goods." %}
                    {% end_responsive_block %}
                  </div>
                {% end_responsive_block %}
                {% responsive_block "20_100_20_20_20" %}
                {% end_responsive_block %}
              </div>
            <div class="our-technology__spacer-bottom"></div>
          {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="our-services" id="services">
          {% max_width %}
          <div class="our-services__spacer-top"></div>
          <div class="responsive-blocks-container">
            {% responsive_block "10_20_25_25_25" %}
            {% end_responsive_block %}
            {% responsive_block "80_80_75_75_75" %}                
              <h2>Our services</h2>
              <div class="spacer-100"></div>
              {% servicesCard "img/placeholder-3.png", "", "Development", "We work with technology that just emerged and we understand the complexity behind it. We have coined or co-authored many of concepts of components around Authentic Systems, hence we have the expertise in this area." %}
              <div class="spacer-60"></div>
              {% servicesCard "img/placeholder-3.png", "", "Consultancy", "We are world-leading experts in the area of Authentic Systems. We are also members of DIF and TOIP foundations and we collaborate with these communities among the concepts and technologies to serve Authentic Systems." %}
              <div class="spacer-60"></div>
            {% end_responsive_block %}
          </div>
          <div class="our-services__spacer-bottom"></div>
          {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="jobs">
            {% max_width %}
            <div class="jobs__spacer-top"></div>
            <div class="responsive-blocks-container">
              {% responsive_block "10_20_25_25_25" %}
              {% end_responsive_block %}
              {% responsive_block "70_80_55_55_55" %}
                <h2 class="subtitle" id="join-us">
                  Jobs
                </h2>
                <p class="title-m">
                  We are growing fast.<br>
                </p>
                
                <a href="/jobs" class="d-inline-block">
                  See our currently<br>
                  <span class="arrow-link arrow-link-type2 responsive-blocks-container">
                    <span class="d-inline-block float-left">open positions.</span>
                    <span aria-hidden="true" role="presentation" class="float-left">
                      {% pictureSvgPng "img/arrow.svg", "", "191", "24" %}
                    </span>
                  </span>  
                </a>

              {% end_responsive_block %}
              {% responsive_block "20_100_20_20_20" %}
              {% end_responsive_block %}
            </div>
            <div class="jobs__spacer-bottom"></div>
          {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="our-posts__spacer-outer-top" id='blog'>
          <div class="our-posts">
          {% max_width %}
            <div class="our-posts__spacer-top">
              <div class="responsive-blocks-container">
                {% responsive_block "40_40_55_55_55" %}
                {% end_responsive_block %}
                {% responsive_block "60_60_35_35_35" %}
                  <h2 class="big-title">
                    We love <b>to share</b><br>
                    our knowledge<br>
                    and experience
                  </h2>
                  <div class="our-posts__spacer-inner"></div>
                  {% buffer %}
                  <a class="arrow-link responsive-blocks-container" href="https://blog.argonauths.eu/">
                    <span class="d-inline-block float-left">Check out blog</span>
                    <span aria-hidden="true" role="presentation" class="float-left">
                      {% pictureSvgPng "img/arrow.svg", "", "191", "24" %}
                    </span>
                  </a>  
                  {% end_buffer %}
                {% end_responsive_block %}
                {% responsive_block "20_10_10_10_10" %}
                {% end_responsive_block %}
              </div>
            <div class="our-posts__spacer-bottom">
          {% end_max_width %}
          </div>
          <div class="our-posts__spacer-outer-bottom">
        </section>
        <section>
          <div class="partners">
          {% max_width %}
            <div class="partners__spacer-top"></div>
            <div class="responsive-blocks-container">
              {% responsive_block "10_20_25_25_25" %}
              {% end_responsive_block %}
              {% responsive_block "80_80_75_75_75" %}
                <h2 class="p-med">We always work with the best</h2>
                <div class="spacer-48"></div>
                <div class="responsive-blocks-container">
                  {% responsive_block "50_50_25_25_25" %}
                    {% buffer "float-left" %}
                      {% picture "img/partner1.png", "" %}
                    {% end_buffer %}
                  {% end_responsive_block %}
                  {% responsive_block "50_50_25_25_25" %}
                    {% buffer "float-left" %}
                      {% picture "img/partner2.png", "" %}
                    {% end_buffer %}
                  {% end_responsive_block %}
                  {% responsive_block "50_50_25_25_25" %}
                    {% buffer "float-left" %}
                      {% picture "img/partner3.png", "" %}
                    {% end_buffer %}
                  {% end_responsive_block %}
                  {% responsive_block "50_50_25_25_25" %}
                    {% buffer "float-left" %}
                      {% picture "img/partner4.png", "" %}
                    {% end_buffer %}
                  {% end_responsive_block %}
                </div>
              {% end_responsive_block %}
            </div>
            <div class="partners__spacer-bottom"></div>
          {% end_max_width %}
          </div>
        </section>
        <section>
          <div class="contacts" id='contact'>
            {% max_width %}
            <div class="responsive-blocks-container">
              {% responsive_block "10_10_25_25_25" %}
              {% end_responsive_block %}
              {% responsive_block "90_90_75_75_75" %}
                <div class="spacer-80"></div>
                  {% responsive_block "100_85_45_45_45" %}
                  <div class="card-2">
                    <h3 class="primary-500">
                      <strong>CONTACT</strong>
                    </h3>
                    <div class="spacer-20"></div>
                    <p style="line-height: 1.5; font-size: 24px;">
                    <a style="padding: 0; font-size: 24px;" href="mailto:hello@argonauths.eu">hello@argonauths.eu</a><br>
                      ArgonAUTHs sp. z o.o.<br>
                      ul. Zamknięta 10 / 1.5<br>
                      30-554 Kraków, Malopolskie, Poland<br>
                      KRS: 0000951818<br>
                      VAT EU: 6751761091<br>
                    <div class="spacer-20"></div>
                    <a href="https://discord.gg/ePAT7y4f">
                      <img src="/img/icon-discord.png" alt="Discord" style="width: 30px; height: 30px;">
                    </a>
                    <a href="https://matrix.to/#/#argonauths:matrix.org">
                      <img src="/img/icon-element.png" alt="Element" style="width: 30px; height: 30px;">
                    </a>
                    <a href="https://github.com/thclab">
                      <img src="/img/icon-github.png" alt="Github" style="width: 30px; height: 30px;">
                    </a>
                    </p>
                  </div>
                  {% end_responsive_block %}
                <div class="spacer-80"></div>
              {% end_responsive_block %}
            </div>
            <div class="contacts__spacer-bottom"></div>
            {% end_max_width %}
          </div>
        </section>
      </div>
    </main>
  </div>
  </div>
  <script src="/js/utils.js"></script>
  <script src="/js/menu.js"></script>
</body>
</html>
