<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/responsive-blocks.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/buffer.css">
    <link rel="stylesheet" href="/css/spacers.css">
    <link rel="stylesheet" href="/css/design-system/color-block.css">
    <link rel="stylesheet" href="/css/typography.css">
  </head>
  <body class="design-system">
  {% max_width %}
    <h1 class="design-system__h1">{{ title }}</h1>
    {% for title, colorsKit in colors %}
      <h2 class="design-system__h2">{{ title }}</h2>
      <div class="responsive-blocks-container">

      {% for theme, param in colorsKit %}

        {% if(param.color or param.label) %}
          {% responsive_block "100_50_33_33_33" %}
            {% buffer %}
              {% colorBlock theme, param.color, param.label %}
            {% end_buffer %}
          {% end_responsive_block %}
        {% elif theme == 'color' %}
          {% set nextColor = colorsKit[theme] %}
        {% elif theme == 'label' %}
          {% responsive_block "100_50_33_33_33" %}
            {% buffer %}
              {% colorBlock title, nextColor, colorsKit[theme] %}
            {% end_buffer %}
          {% end_responsive_block %}
        {% endif %}

      {% endfor %}
      </div>
      <div class="spacer-16"></div>
    {% endfor %}
  {% end_max_width %}
  </body>
</html>
