<div class="header">
  <div class="header__spacer-top"></div>
  {% max_width %}
    <header>
      <div class="header__container responsive-blocks-container">
        {% responsive_block "100_100_25_25_25" %}
          {% buffer %}
            <div class="logo">
              <a href="/">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="/img/logo-mobile.png">
                  <img
                    src="/img/logo.png" width="330" height="88" alt="{{ site.name }}">
                </picture>
              </a>
            </div>
          {% end_buffer %}
        {% end_responsive_block %}
        <div class="header__main-menu-burger">
        </div>
    </header>
  {% end_max_width %}
</div>